{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!--About-->
    <section id="about">
        <!--About part 1-->
        <div id="about-01">
            <div class="content-box-lg ">
                <div class="container">
                    <div class="row">
                        <!--about left side-->
                        <div class="col-md-6 col-sm-6 wow slideInLeft" data-wow-duration="1s">
                            <div id="about-left">
                                <div class="vertical-heading">
                                    <h5>Who We Are</h5>
                                    <h2>A <strong>Story</strong><br> About Us</h2>
                                </div>
                            </div>
                        </div>

                        <!--about right side-->
                        <div class="col-md-6 col-sm-6 wow slideInRight" data-wow-duration="1s">
                            <div id="about-right">
                                <p>Bid and Tender issue process is one of the prime business activities related to procurement of goods and services in any institutions. In today's information technology driven business scenario, the need for information on online bid and online tender environment is essential for the public and private sector organization.</p>
                                <p> TenderNotice is an e-Tender service providing portal provides information on any business opportunities, Bids Notices, Tender News etc. on the same day notice is issued on newspaper.</p>
                            </div>
                        </div>
                    </div>

                    <!--About Bottom-->

                    <div class="row">
                        <div class="col-md-12 wow fadeInUp" data-wow-duration="2s">
                            <div id="about-bottom">
                                <img src="{% static 'images/log.jpg' %}" alt="About Us" class="img-responsive" width="100%" height="500px">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- About 01 Ends -->


        <!-- About 02-->
        <div id="about-02">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 wow fadeInLeft">
                            <!--About  item 01-->
                            <div class="about-item text-center">
                                <i class="fa fa-rocket"></i>
                                <h3> Mission</h3>
                                <hr>
                                <p>
                                    Supply the best available tenders to the customers with affordable price.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-duration="2s">
                              <!--About  item 02-->
                            <div class="about-item text-center">
                                <i class="fa fa-eye"></i>
                                <h3> Vision</h3>
                                <hr>
                                <p>
                                    In the emerging compettion, using Information technolgy we want to reach with u 24/7. We want to put Dipendra Tender in National market.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 wow fadeInRight">
                            <!--About  item 03-->
                            <div class="about-item text-center">
                                <i class="fa fa-pencil"></i>
                                <h3> Passion</h3>
                                <hr>
                                <p>
                                    We love to deliver the best and fast services to the customers. We delivers eye catching tender too.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- About 02 Ends -->


    </section>
    <!--about ends -->

{% endblock %}