<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include 'snippets/meta.html' %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <title>{% block title_content %} Dipen Tender {% endblock %}</title>

    {% include 'snippets/css.html' %}
</head>

<body>

    {% include 'snippets/nav.html' %}


<div id="home_all">

        {% block content %}

        {% endblock %}

</div>
    {% include 'snippets/messengerjs.html' %}
{% include 'snippets/footer_stack.html' %}
    {% include 'snippets/footer.html' %}
    {% include 'snippets/js.html' %}

{% include 'snippets/messengerjs.html' %}
</body>

</html>