<div class="alert alert-success" role="alert" align="center">
        <h2> <a href="#">What benefits you will get? </a></h2>
    </div>

<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h5>Save Time</h5><br>
        <i class="far fa-clock fa-3x"></i>
    </div>
    <div class="col-sm">
        <h5>Save Money</h5><br>
        <i class="fas fa-hand-holding-usd fa-3x"></i>
    </div>
    <div class="col-sm">
        <h5>All Tenders/Bids Notifications</h5><br>
        <p align="left" ><i class="far fa-bell fa-3x"></i></p>

    </div>
  </div>
</div>
</div>