<div class="container">
<div class="row" align="center">
    <div class="col-md-6">
<p>
  <button class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">How Does It Work</button>
</p>
    </div>
<div class="col-md-6">
  <p>
      <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">We Dont miss any Newspaper</button>
  </p>
    </div>
</div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
       When any relative notice appears in newspaper we upload it in our website and membership person can view it and apply it.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
            As soon as any notice appears we instantly upload in our website.
      </div>
    </div>
  </div>
</div>