{% extends 'base.html' %}

{% block content %}

    <!-- pricing -->
    <section id="pricing">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow slideInDown">
                        <div class="horizontal-heading">

                            <h2>Our Pricing</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInLeft">
                        <!-- Pricing table 01-->
                        <div class="pricing-table">
                            <div class="type">
                                <h4>Basic</h4>
                            </div>
                            <div class="price">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <h2><span class="dollar">&#8360;</span>150<br><span class="month">/Month</span></h2>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <span class="dollar">OR</span>
                                    </div>


                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <h2><span class="dollar">&#8360;</span>3600<br><span class="month">/2 years</span></h2>
                                    </div>



                                </div>
                            </div>
                            <ul class="package">
                                <li><i class="fa fa-check"></i>0% discount</li>
                                <li><i class="fa fa-check"></i>2 years time period</li>
                                <li><i class="fa fa-check"></i>Full access</li>
                                <li><i class="fa fa-check"></i> Unlimited Tender/ Bids</li>
                                <li><i class="fa fa-check"></i>Email Subscription</li>
                            </ul>
                            <div id="pricing-btn-03">
                                <a class="btn btn-general btn-yellow" href="{% url 'tender:pricing_form' %}" title="Get Started" role="button">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-4 wow fadeInUp" data-wow-duration="3s">

                        <!-- Pricing table 02-->
                        <div class="pricing-table black">
                            <div class="type">
                                <h4>Bulk</h4>
                            </div>
                            <div class="price">
                                <div class="row">
                                     <div class="col-md-4 col-sm-4 col-xs-4">
                                         <h2><span class="dollar">&#8360;</span><strike>7200</strike><br><span class="month">/ 5 years</span></h2>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">

                                    </div>


                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <h2><span class="dollar">&#8360;</span>6480<br><span class="month">/ 5 years</span></h2>
                                    </div>



                                </div>
                            </div>
                            <ul class="package">
                                 <li><i class="fa fa-check"></i>10% discount</li>
                                 <li><i class="fa fa-check"></i>5 years time period</li>
                                <li><i class="fa fa-check"></i>Full access</li>
                                <li><i class="fa fa-check"></i> Unlimited Tender/ Bids</li>
                                <li><i class="fa fa-check"></i>Email Subscription</li>
                            </ul>
                            <div id="pricing-btn-02">
                                <a class="btn btn-general btn-white" href="{% url 'tender:pricing_form' %}" title="Get Started" role="button">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4  wow fadeInRight">
                        <!-- Pricing table 03-->
                        <div class="pricing-table">
                            <div class="type">
                                <h4>Professional</h4>
                            </div>
                            <div class="price">
                                <div class="row">
                                     <div class="col-md-4 col-sm-4 col-xs-4">
                                         <h2><span class="dollar">&#8360;</span><strike>18000</strike><br><span class="month">/ 10 years</span></h2>
                                    </div>

                                    <div class="col-md-2 col-sm-2 col-xs-2">

                                    </div>


                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <h2><span class="dollar">&#8360;</span>15300<br><span class="month">/ 10 years</span></h2>
                                    </div>


                                </div>
                            </div>
                            <ul class="package">
                               <li><i class="fa fa-check"></i>Free Domain</li>
                               <li><i class="fa fa-check"></i>z</li>
                               <li><i class="fa fa-check"></i>15% discount</li>
                               <li><i class="fa fa-check"></i>15% discount</li>
                               <li><i class="fa fa-check"></i>15% discount</li>
                               <li><i class="fa fa-check"></i>15% discount</li>
                               <li><i class="fa fa-check"></i>15% discount</li>
                                 <li><i class="fa fa-check"></i>10 years time period</li>
                                <li><i class="fa fa-check"></i>Full access</li>
                                <li><i class="fa fa-check"></i> Unlimited Tender/ Bids</li>
                                <li><i class="fa fa-check"></i>Email Subscription</li>
                            </ul>
                            <div id="pricing-btn-03">
                                <a class="btn btn-general btn-yellow" href="{% url 'tender:pricing_form' %}" title="Get Started" role="button">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- Pricing Ends-->


{% endblock %}