{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="all_team">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <h2>शुभप्रभात खबर<strong>  सम्पादक</strong></h2>
                            <h2><strong>  सम्पादक</strong></h2>
                        </div>
                        <ul class="social-list">
                                <li><a href="https://www.facebook.com/shuvapravatkhabar/"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/shuvapravat"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCN0Esg_c7w-jVXIbe7SXwRQ"><i
                                        class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="office">
                                        <ul class="office-details">
                                            <li><img src="{% static 'images/tarun.jpg' %}" width="100px" height="80px">
                                            </li><br>
                                            <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>प्रधान सम्पादक : तरुण भारती </span>
                                            </li>
                                            <li><i class="fa fa-mobile"></i> <span>+(977) 9852660180</span></li>
                                            <li><i class="fa fa-envelope"></i><span> news@shuvapravatkhabar.com</span>
                                            </li>

                                            <li><i class="fa fa-map-marker"></i><span> Phungling Bazzar, <br>
                                                        Taplejung, Nepal</span></li>

                                        </ul>
                                    </div>

                                </div>


                            <div class="col-md-4">
                                <div class="office">
                                    <ul class="office-details">
                                        <li><img src="{% static 'images/adakshya.jpg' %}" width="100px"
                                                 height="80px"></li><br>
                                        <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>अध्यक्ष : डिल्लीरमण बराल </span>
                                        </li>
                                        <li><i class="fa fa-mobile"></i> <span>+(977) 9852660364</span></li>
                                        <li><i class="fa fa-envelope"></i><span> info@shuvapravatkhabar.com</span>
                                        </li>

                                        <li><i class="fa fa-map-marker"></i><span> Phungling Bazzar, <br>
                                                        Taplejung, Nepal</span></li>

                                    </ul>
                                </div>

                            </div>
                                            <div class="col-md-4">
                                    <div class="office">
                                        <ul class="office-details">
                                            <li><img src="{% static 'images/adakshya.jpg' %}" width="100px"
                                                     height="80px"></li><br>
                                            <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>सम्पादक : निमा शेर्पा </span>
                                            </li>
                                            <li><i class="fa fa-mobile"></i> <span>+(977) 9842642540</span></li>
                                            <li><i class="fa fa-envelope"></i><span> editor@shuvapravatkhabar.com</span>
                                            </li>

                                            <li><i class="fa fa-map-marker"></i><span> Phungling Bazzar, <br>
                                                        Taplejung, Nepal</span></li>

                                        </ul>
                                    </div>

                                </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}