<section id="tender">
    <div class="alert alert-success" role="alert">
        <h2> <a href="{% url 'auction:all' %}">Auction </a></h2>
    </div>

                <div class="row">
                {% for t in auction %}
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="card h-100">
                        <div class="card">
                            {% if t.picture %}
                            <a href="{% url 'auction:single' t.slug %}">
                                <img src="{{t.picture.url}}" class="card-img-top" alt="...">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{t.title}}</h5>
                                <p class="card-text"><i class="fa fa-map-marker"></i>{{t.org_name}}</p>
                                <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"></i>{{t.service}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Published Date: {{t.published_date}}</li>
                                <li class="list-group-item">Last Date: {{t.last_date}}</li>
                            </ul>
                            <a href="{% url 'auction:single' t.slug %}" class="btn btn-primary">Visit Tender/Notice</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


</section>
