<hr>
<div class="horizontal-sidebar">

    <a href="{% url 'tenderonly:all' %}">
        <button type="button" class="btn btn-primary">Tender - बोलपत्र</button>
    </a>
    <a href="{% url 'quotation:all' %}">
        <button type="button" class="btn btn-primary">Quotation - दरभाउपत्र</button>
    </a>
    <a href="{% url 'auction:all' %}">
        <button type="button" class="btn btn-primary">Auction - लिलामी</button>
    </a>
    <a href="{% url 'proposal:all' %}">
        <button type="button" class="btn btn-primary">Proposal - प्रस्तावना</button>
    </a>
    <a href="{% url 'eoi:all' %}">
        <button type="button" class="btn btn-primary">EOI - आशयपत्र माग</button>
    </a>
    <a href="{% url 'standinglist:all' %}">
        <button type="button" class="btn btn-primary">Standing List - सूचीदर्ता</button>
    </a>
    <a href="{% url 'intent2awards:all' %}">
        <button type="button" class="btn btn-primary">Intent to Award - आशयपत्र जारी</button>
    </a>
</div>