<section id="tender">
    <div class="alert alert-success" role="alert">
        <h2> <a href="{% url 'intent2awards:all' %}">Intent To Awards - आशयपत्र जारी</a> </h2>
    </div>
<br>
            <div class="card-group">
                {% for t in intent2awards %}
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                    <div class="card h-100">
                        <div class="card">
                            {% if t.picture %}
                            <a href="{% url 'intent2awards:single' t.slug %}">
                                <img src="{{t.picture.url}}" class="card-img-top" alt="...">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{t.title}}</h5>
                                <p class="card-text"><i class="fa fa-map-marker"></i>{{t.org_name}}</p>
                                <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"></i>{{t.service}}</p>
                            <p class="card-text"><i class="fa fa-newspaper-o" aria-hidden="true"></i>{{t.published_on}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Published Date: {{t.published_date|date}}</li>
                                <li class="list-group-item">Last Date: {{t.last_date|date}}</li>
                            </ul>
                            <a href="{% url 'intent2awards:single' t.slug %}" class="btn btn-primary">Visit Tender/Notice</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

</section>
