<ul class="list-group"  id="sidebar">
            <a href="{% url 'tenderonly:all' %}">
                <li class="list-group-item">Tender - बोलपत्र</li>
            </a>
            <a href="{% url 'quotation:all' %}">
                <li class="list-group-item">Quotation - दरभाउपत्र</li>
            </a>
            <a href="{% url 'auction:all' %}">
                <li class="list-group-item">Auction - लिलामी</li>
            </a>
            <a href="{% url 'proposal:all' %}">
                <li class="list-group-item">Proposal - प्रस्तावना</li>
            </a>
            <a href="{% url 'eoi:all' %}">
                <li class="list-group-item">EOI - आशयपत्र माग</li>
            </a>
            <a href="{% url 'standinglist:all' %}">
                <li class="list-group-item">Standing List - सूचीदर्ता</li>
            </a>
            <a href="{% url 'intent2awards:all' %}">
                <li class="list-group-item">Intent to Award - आशयपत्र जारी</li>
            </a>
        </ul>
