 <footer class="text-center">
        <div class="container">
            <div class="row">
                 <div class="col-md-4">
                    <p>
                        <a href="{% url 'advertise:advertiseinfo' %}"><span> click here to contact for Advertising</span></a>
                    </p>
                </div>
                <div class="col-md-8">
                    <p>
                        Copyright &copy; 2020 All Rights Reserverds By <span>Dipen Tender</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Back To Top -->
       <a href="#home" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll hidden-sm hidden-xs" title="home" role="button">
        <i class="fa fa-angle-up"></i>
       </a>
    </footer>
    <!--Footer Ends-->
