{% load static %}
<!-- Contact -->
<section id="footer_stack">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <h3><u>Get <strong> In Touch</u></strong></h3>
                            <h4>ETENDER <strong> Nepal</strong></h4>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="office">
                                        <h4>Nepalgunj</h4>
                                        <ul class="office-details">

                                            <li><i class="fa fa-mobile"></i> <span>+(977) 9848354622</span></li><br>
                                            <li><i class="fa fa-envelope"></i><span> info@etendernepal.com</span> </li>
                                            <br>
                                            <li><i class="fa fa-map-marker"></i><span> Surkhet Road, Karkando-24 <br>
                                                        Nepalgunj, Nepal</span></li>

                                        </ul>
                                    </div>

                                </div>
                                <ul class="social-list">
                                    <li><a href="https://www.facebook.com/ETender-Nepal-109029694203933/"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/dipen-chaudhary-129868175"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-left">
                        <div class="vertical-heading">
                            <h3><u>Sources <strong> Links</u></strong></h3>
                        </div>
                        <div id="offices">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="office">
                                           <ul class="office-details">

                                            <li><h5><a href = "{% url 'faq' %}"">FAQ</a></h5></li><br>
                                              <li><h5><a href = "{% url 'aboutus' %}">About Us</a></h5></li><br>
                                            <li><h5><a href = "{% url 'advertise:advertiseinfo' %}"> Advertise With Us</a></h5> </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-md-5">
                <div id="contact-left">
                        <div class="vertical-heading">
                            <h3><u>Our Payment Partners</u></h3>
                        </div>
                   <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/esewa.jpg' %}" class="d-block w-100" alt="..." width="100%"
                                 height="180 px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/khalti.png' %}" class="d-block w-100" alt="..." width="100%"
                                 height="180px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/connectips.png' %}" class="d-block w-100" alt="..." width="100%"
                                 height="180px">
                            <div class="carousel-caption d-none d-md-block">
                                <h5></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                </div>

                        <h3><u>Subcribe to our newsletters</u></h3>
                            <form>
                                 <div class="row">

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" placeholder="Email Address">
                                        </div>
                                    </div>

                                     <div class="col-md-6 col-sm-6">
                                        <div id="submit-btn">
                                            <a class="btn btn-general btn-yellow btn-lg btn-block" href="#" title="Text" role="button">Subscribe</a>
                                        </div>
                                    </div>
                                </div>
                            </form>









            </div>
        </div>
        </div>
</section>
<!-- footer stack Ends-->
