{% extends 'base.html' %}
{% block title_content %} {{user}} || {{block.super}} {% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="col-md-12" align="center">

        <h5>{{user}}</h5>
        <h5>{{user.email}}</h5>
    </div>

<br><br>
    {{pk}}
    {% if user.first_name %}
        <h1> Name :     {{user.first_name}} {{user.last_name}}</h1>
    {% else %}
        <h1> Name :     {{user}} </h1>
    {% endif %}

    <div class="col-md-12">
        <h5></h5>
        <h6>Address :                {{user.profile.address}}</h6>
        <h6>mobile_number :                {{user.profile.mobile_number}}</h6>
        <p>Account created at: {{user.profile.created_at}}</p>
        {% if user.is_authenticated %}
            {% if request.user %}
                {% if request.user == user %}
                    <div class="col-md-3"></div>
                    <div class="col-md-3">  <p><a href="{% url 'profiles:update' pk=user.profile.pk %}" class="btn btn-warning btn-lg">Update</a></p>
</div>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>



</div>


{% endblock %}